[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal
[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds
[submodule "cyclonedds-cxx"]
	path = cyclonedds-cxx
	url = https://github.com/eclipse-cyclonedds/cyclonedds-cxx
[submodule "examples/cpp/libnpy"]
	path = examples/cpp/libnpy
	url = https://github.com/llohse/libnpy
[submodule "examples/cpp/cnpy"]
	path = examples/cpp/cnpy
	url = https://github.com/rogersce/cnpy
